@{
    ViewData["Title"] = "Expense";
    Layout = "_AdminLayout";
}



<div x-data="initData()" class="mx-3">
    <h1 class="page-header my-3">Expense</h1>
    
    <form x-on:submit.prevent="insertData()">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label>Category</label>
                    <select x-model="formData.ExpenseCategoryId" class="form-control">
                        <option>[ SELECT ]</option>
                        <template x-for="category in categories" :key="category.value">
                            <option :value="category.value" x-text="category.label"></option>
                        </template>
                    </select>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label>Expense Amount</label>
                    <input x-model.number="formData.ExpenseAmount" type="number" class="form-control" required>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label>Expense For</label>
                    <input x-model="formData.ExpenseFor" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label>Payment Method</label>
                    <select x-model.number="formData.AccountId" class="form-control">
                        <option>[ SELECT ]</option>
                        <template x-for="account in accounts" :key="account.value">
                            <option :value="account.value" x-text="account.label"></option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div x-init="dateInit()" class="form-group">
                    <label>Expense Date</label>
                    <input x-model="formData.ExpenseDate" type="text" class="form-control datepicker" required>
                </div>
            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-md btn-custom-bg waves-effect waves-light">Create <i class="fas fa-check ml-1"></i></button>
            </div>
        </div>
    </form>
    
    <div class="card card-body mt-4">
        <table id="data-table" class="table table-sm">
            <thead>
            <tr>
                <th>Expense Date</th>
                <th>Expense For</th>
                <th>Payment Method</th>
                <th>Expense Amount</th>
                <th style="max-width: 80px">Delete</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            //dataTable.getData();
        });

        //data table
        const dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Expense/GetExpense",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "ExpenseDate", "render": function(data) { return moment(data).format('DD MMM YYYY') } },
                        { data: "ExpenseFor" },
                        { data: "AccountName" },
                        { data: "ExpenseAmount" ,"render": function(data) { return `${data}/-` }},
                        { data: "ExpenseId", "render": function(data) { return `<a style="color:#ff0000" class="delete fas fa-trash-alt" href="/Expenses/Delete/${data}"></a>`; } }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0, 3, 4] },
                        { 'sortable': false, 'targets': [4] },
                        { 'className': "text-left", "targets": [1] },
                        { 'className': "text-right", "targets": [3] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            }
        }

        //alpine js code
        function initData() {
            return {
                loading: false,

                //bind dropdown list
                categories : JSON.parse('@Html.Raw(Json.Serialize(ViewBag.categoryDropdown))'),
                accounts : JSON.parse('@Html.Raw(Json.Serialize(ViewBag.accountDropdown))'),
                
                formData: {},


                //date function init
                dateInit() {
                    this.formData.ExpenseDate = moment(new Date()).format("D, MMM YYYY");

                    $('.datepicker').pickadate({
                        onSet: context => {
                            this.formData.ExpenseDate = moment(context.select).format("D, MMM YYYY");
                        }
                    })
                },


                //insert data
                async insertData() {
                    this.loading = true;

                    try {
                        const model = { ...this.formData, ExpenseDate: new Date(this.formData.ExpenseDate) };

                        const options = {
                            method: 'POST',
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(model)
                        };

                        const response = await fetch("/Expense/PostExpense", options);
                        const responseData = await response.json();

                        if (responseData.IsSuccess) {
                            this.formData = {};
                        }

                        $.notify(responseData.Message, responseData.IsSuccess ? "success" : "error");
                        this.loading = false;

                    } catch (error) {
                        console.log(error);
                        this.loading = false;
                    }
                }
            };
        }
    </script>
}