@{
    ViewData["Title"] = "Sub-admin Page Access";
    Layout = "_AdminLayout";
}


<div x-data="initData()" class="container">
    <h3 class="page-header my-3">Page Access</h3>

    <div class="card card-body">
        <label>Sub-Admin</label>
        <select class="form-control" x-on:change="onChangeSubAdmin">
            <option value="">[ SELECT ]</option>
            <template x-for="item in subAdmins" :key="item.value">
                <option :value="item.value" x-text="item.label"></option>
            </template>
        </select>

        <div>
            <button class="btn btn-custom-bg">Assign</button>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function initData() {
            return {
                subAdmins: JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SubAdmins))'),

                async onChangeSubAdmin(evt) {
                    const id = evt.target.value;
                    if (!id) return;

                    const response = await fetch(`/subAdmin/GetPageLinks/${id}`);
                    const responseData = await response.json();

                    $.notify(responseData.Message, responseData.IsSuccess ? "success" : "error");
                }
            }
        }
    </script>
}

