

<a href="/Home/Index" class="navbar-brand ml-1 pb-0">Barkantaj Group</a>
<div class="text-white pb-1">
    <span>
        <i class="fas fa-map-marker-alt"></i>
        address
    </span>
    <span class="mx-2">
        <i class="fas fa-phone"></i>
        01819099940
    </span>
    <span>
        <i class="fas fa-globe"></i>
        mail
    </span>
</div>