@{
    ViewData["Title"] = "Selling due pay";
    Layout = "_AdminLayout";
}

<div x-data="initData()" x-init="getDropdownData">
    <div class="container">
        <form x-on:submit.prevent="finByDate">
            <div class="row align-items-center mt-3">
                <div class="col">
                    <h5 x-text="model.VendorCompanyName" class="mb-0 font-weight-bold"></h5>
                    <p class="mb-0">
                        <span x-text="model.VendorAddress"></span>,
                        <span x-text="model.SmsNumber"></span>
                    </p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col">
                            <input x-ref="fromDate" class="form-control datepicker" placeholder="Form Date" type="text">
                        </div>
                        <div class="col">
                            <input x-ref="toDate" class="form-control datepicker" placeholder="To Date" type="text">
                        </div>
                        <div>
                            <button class="btn btn-custom-bg btn-md my-0" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ul class="list-group list-group-horizontal my-4 text-right font-weight-bold">
            <li class="list-group-item flex-fill">Sales: ৳<strong x-text="model.Amount"></strong></li>
            <li class="list-group-item flex-fill">Received: ৳<strong x-text="model.Paid"></strong></li>
            <li class="list-group-item flex-fill">Total Discount: ৳<strong x-text="model.Discount"></strong></li>
            <li class="list-group-item flex-fill">Total Due: ৳<strong x-text="model.Due"></strong></li>
        </ul>

        <form x-on:submit.prevent="payDues">
            <div class="card card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th class="text-center">Bill No</th>
                            <th class="text-right">Sales</th>
                            <th class="text-right">Discount</th>
                            <th class="text-right">Received</th>
                            <th class="text-right">Due Balance</th>
                            <th class="text-right">Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(item,index) in model.Sellings" :key="item.SellingId">
                            <tr>
                                <td x-text="moment(item.SellingDate).format('D MMM, YYYY')"></td>
                                <td class="text-center" x-text="item.SellingSn"></td>
                                <td class="text-right">
                                    ৳<span x-text="item.SellingTotalPrice"></span>
                                </td>
                                <td class="text-right" style="max-width: 100px">
                                    <input x-model.number="item.SellingDiscountAmount" x-on:input="onDiscountChange(index)" type="number" class="form-control text-right" min="0" :max="item.SellingTotalPrice-item.SellingPaidAmount" step="0.01" placeholder="Discount amount">
                                </td>
                                <td class="text-right">
                                    ৳<span x-text="item.SellingPaidAmount"></span>
                                </td>
                                <td class="text-right">
                                    ৳<span x-text="item.SellingDueAmount"></span>
                                </td>
                                <td class="text-right">
                                    ৳<span x-text="item.Paying || 0"></span>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

            <div class="d-flex align-items-center flex-wrap mt-3">
                <div class="form-group">
                    <input x-model.number="model.PaidAmount" x-on:input="inputPaidAmount" x-ref="totalPaid" type="number" step="0.01" min="0.01" :max="model.Due" class="form-control" placeholder="Total Paid Amount" required>
                </div>
                <div class="form-group mx-3">
                    <input x-ref="datePicker" :value="moment().format('D MMMM, YYYY')" placeholder="Paid Date" type="text" class="form-control datepicker" required>
                </div>
                <div class="form-group">
                    <select x-model.number="model.AccountId" class="form-control" required>
                        <option value="">[ Payment Method ]</option>
                        <template x-for="account in accounts" :key="account.value">
                            <option :value="account.value" x-text="account.label"></option>
                        </template>
                    </select>
                </div>
                <div class="form-group mx-3">
                    <input x-model="model.Description" type="text" class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                    <input :disabled="loading" type="submit" class="btn btn-custom-bg btn-md" value="Paid">
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
<script>
    $(function() {
        $('.datepicker').pickadate();
    });

    //alpine js code
    function initData() {
        return {
            loading: false,
            model: JSON.parse('@Html.Raw(Json.Serialize(ViewBag.dueModel))'),
         

            //dropdown list
            accounts: [],

            //get dropdown data
            async getDropdownData() {
                console.log('@Html.Raw(Json.Serialize(ViewBag.dueModel))')

                //reset paid amount after reload
                this.$refs.totalPaid.value = "";

                const accountResponse = await fetch("/common/getAccount");
                const account = await accountResponse.json();
                this.accounts = account;
            },



            //bill find by date
            async finByDate() {
                const fromDate = this.$refs.fromDate.value;
                const toDate = this.$refs.toDate.value;
                const id = this.model.VendorId;

                const response = await fetch(`/Selling/GetDueBills?id=${id}&from=${fromDate}&to=${toDate}`);
                const responseData = await response.json();

                if (responseData.IsSuccess)
                    this.model = responseData.Data;
            },

            //discount amount change
            onDiscountChange(index) {
                const modelCopy = [...this.model.Sellings];
                const item = modelCopy[index];
                const due = item.SellingTotalPrice - item.SellingDiscountAmount - item.SellingPaidAmount;

                modelCopy.forEach((item, i) => {
                    if (i === index) item.SellingDueAmount = due;

                    item.Paying = 0;
                });

                this.model.Sellings = modelCopy;
                this.$refs.totalPaid.value = "";
            },

            //input total paid
            inputPaidAmount(evt) {
                let totalPaid = +evt.target.value;

                const SellingDues = [...this.model.Sellings];

                SellingDues.forEach(item => {
                    const lineDue = item.SellingDueAmount;

                    if (totalPaid < lineDue && totalPaid > 0) {
                        item.Paying = totalPaid;
                    } else if (totalPaid >= lineDue) {
                        item.Paying = lineDue;
                    } else {
                        item.Paying = 0;
                    }

                    totalPaid -= lineDue;
                });

                this.model.Sellings = SellingDues;
            },

            //submit dues
            payDues() {
                const { VendorId, AccountId, PaidAmount, Description, Sellings } = this.model;

                const model = {
                    VendorId,
                    AccountId,
                    PaidAmount,
                    PaidDate:this.$refs.datePicker.value,
                    Description,
                    Bills: Sellings.filter(item => item.Paying > 0).map(item => {
                        return {
                            SellingId: item.SellingId,
                            SellingPaidAmount: item.Paying,
                            SellingDiscountAmount: item.SellingDiscountAmount
                        }
                    })
                }

                if (!model.Bills.length) {
                    return $.notify("Enter paid amount", "error");
                }

                this.loading = true;

                $.ajax({
                    type: "POST",
                    url: "/Selling/PostDues",
                    data: model,
                    success: response => {
                        if (response.IsSuccess) {
                            location.href = `/selling/paymentReceipt/${response.Data}`;
                        }

                        $.notify(response.Message, response.IsSuccess ? "success" : "error");
                        this.loading = false;
                    },
                    error: error => {
                        console.log(error);
                        this.loading = false;
                    }
                });
            }
        };
    }
</script>
}
