@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @if (User.IsInRole("Authority"))
        {
            <a class="nav-link" href="/Authority" title="Dashboard">
                <i class="fal fa-user"></i>
                @User.Identity.Name
            </a>
        }
        else if (User.IsInRole("Admin"))
        {
            <a class="nav-link" href="/Admin" title="Dashboard">
                <i class="fal fa-user"></i>
                @User.Identity.Name
            </a>
        }
        else if (User.IsInRole("SubAdmin"))
        {
            <a class="nav-link" href="/Admin" title="Dashboard">
                <i class="fal fa-user"></i>
                @User.Identity.Name
            </a>
        }
        else
        {
            <a class="nav-link" href="/" title="home">home</a>
        }
    </li>
    <li class="nav-item">
        <form asp-controller="Authentication" asp-action="Logout" method="post" id="logoutForm">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fal fa-sign-out-alt"></i>
                Logout
            </a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/Authentication/Login">Login <i class="fal fa-sign-in-alt"></i></a>
    </li>

}

