
<ul id="menuItem">
    <li>
        <strong>
            <span class="fas fa-tachometer-alt"></span>
            <a class="links" href="/admin">Dashboard</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-file-invoice-dollar"></span>
            <i class="fas fa-caret-right"></i>Account
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/account">Account List</a></li>
            <li><a class="links" href="/account/balanceSheet">Balance Sheet</a></li>
            <li><a class="links" href="/account/TransactionLog">Transaction Logs</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-shopping-bag"></span>
            <i class="fas fa-caret-right"></i>Product
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/product/measurementUnit">Measurement Unit</a></li>
            <li><a class="links" href="/product/category">Category</a></li>
            <li><a class="links" href="/product">Products</a></li>
            <li><a class="links" href="/product/stockReport">Stock Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-user-tie"></span>
            <i class="fas fa-caret-right"></i>Purchase
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/purchase/suppliers">Suppliers</a></li>
            <li><a class="links" href="/purchase">Purchase</a></li>
            <li><a class="links" href="/purchase/records">Purchase Invoice</a></li>
            <li><a class="links" href="/purchase/paymentReport">Payment Report</a></li>
            <li><a class="links" href="/purchase/dueReport">Due Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-shopping-bag"></span>
            <i class="fas fa-caret-right"></i>Selling
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/selling/vendors">Vendors</a></li>
            <li><a class="links" href="/selling">Selling</a></li>
            <li><a class="links" href="/selling/records">Selling Invoice</a></li>
            <li><a class="links" href="/selling/dueReport">Due Report</a></li>
            <li><a class="links" href="/selling/paymentReport">Payment Report</a></li>
            <li><a class="links" href="/selling/sellingReport">Selling Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-chart-pie"></span>
            <i class="fas fa-caret-right"></i>Expense
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/expense/category">Category</a></li>
            <li><a class="links" href="/expense">Expense</a></li>
            <li><a class="links" href="/expense/report">Expense Report</a></li>
        </ul>
    </li>

    <li>
        <strong>
            <span class="fas fa-file-alt"></span>
            <i class="fas fa-caret-right"></i>Report
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Report/DailyCash">Daily Cash Report</a></li>
            <li><a class="links" href="/Report/ProductSales">Product Sales Report</a></li>
            <li><a class="links" href="/Report/Net">Net Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-sms"></span>
            <i class="fas fa-caret-right"></i>SMS
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/sms/vendor">Send to Vendor</a></li>
            <li><a class="links" href="/sms/single">Single SMS</a></li>
            <li><a class="links" href="/sms/sentRecord">Sent Record</a></li>
        </ul>
    </li>

    <li>
        <strong>
            <span class="fas fa-user-shield"></span>
            <i class="fas fa-caret-right"></i>Sub-Admin
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/subAdmin/signup">Sign Up</a></li>
            <li><a class="links" href="/subAdmin">Sub-admin List</a></li>
            <li><a class="links" href="/subAdmin/pageAccess">Page Access</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-trash-restore"></span>
            <i class="fas fa-caret-right"></i>Reset
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/admin/reset">Reset</a></li>
        </ul>
    </li>
</ul>