
<ul id="menuItem">
    <li>
        <strong>
            <span class="fas fa-tachometer-alt"></span>
            <a class="links" href="/admin">Dashboard</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-file-invoice-dollar"></span>
            <i class="fas fa-caret-right"></i>Account
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/account">Account List</a></li>
            <li><a class="links" href="/BasicSettings/Menu">Balance Sheet</a></li>
            <li><a class="links" href="/account/TransactionLog">Transaction Logs</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-shopping-bag"></span>
            <i class="fas fa-caret-right"></i>Product
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/product/measurementUnit">Measurement Unit</a></li>
            <li><a class="links" href="/product/category">Category</a></li>
            <li><a class="links" href="/product">Products</a></li>
            <li><a class="links" href="/Product/AddProduct">Stock Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-user-tie"></span>
            <i class="fas fa-caret-right"></i>Purchase
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Purchase/Suppliers">Suppliers</a></li>
            <li><a class="links" href="/Order/PendingList">Purchase</a></li>
            <li><a class="links" href="/Order/PendingList">Purchase Invoice</a></li>
            <li><a class="links" href="/Order/PendingList">Payment Report</a></li>
            <li><a class="links" href="/Order/PendingList">Due Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-shopping-bag"></span>
            <i class="fas fa-caret-right"></i>Selling
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/selling/vendors">Vendors</a></li>
            <li><a class="links" href="/Order/CreateOrder">Selling</a></li>
            <li><a class="links" href="/Order/CreateOrder">Selling Invoice</a></li>
            <li><a class="links" href="/Order/CreateOrder">Due Report</a></li>
            <li><a class="links" href="/Order/CreateOrder">Payment Report</a></li>
            <li><a class="links" href="/Order/CreateOrder">Selling Report</a></li>
        </ul>
    </li>

    <li>
        <strong>
            <span class="fas fa-chart-pie"></span>
            <i class="fas fa-caret-right"></i>Expense
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/expense/category">Category</a></li>
            <li><a class="links" href="/expense">Expense</a></li>
            <li><a class="links" href="/Order/CreateOrder">Expense Report</a></li>
        </ul>
    </li>

    <li>
        <strong>
            <span class="fas fa-file-alt"></span>
            <i class="fas fa-caret-right"></i>Report
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Order/CreateOrder">Daily Cash Report</a></li>
            <li><a class="links" href="/Order/CreateOrder">Product Sales Report</a></li>
            <li><a class="links" href="/Order/CreateOrder">Net Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-sms"></span>
            <i class="fas fa-caret-right"></i>SMS
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Order/CreateOrder">Send to Vendor</a></li>
            <li><a class="links" href="/Order/CreateOrder">Single SMS</a></li>
            <li><a class="links" href="/Order/CreateOrder">Sent Record</a></li>
        </ul>
    </li>

    <li>
        <strong>
            <span class="fas fa-user-shield"></span>
            <i class="fas fa-caret-right"></i>Sub-Admin
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Order/CreateOrder">Sub-admin List</a></li>
            <li><a class="links" href="/Order/PendingList">Page Access</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-trash-restore"></span>
            <i class="fas fa-caret-right"></i>Reset
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Order/CreateOrder">Reset</a></li>
        </ul>
    </li>
</ul>