body { background-color: #faf5ff; }

:root {
    --bg-primary: #5F3E78;
    --bg-secondary: #6911AD;
    --brand-gradient: linear-gradient(30deg, #3a004f, #ac5ad0);
}

header nav { background-color: var(--bg-primary) }
.btn-custom-bg { background-color: var(--bg-primary); color: #fff; padding: 0.6rem 1.6rem !important; }
.btn-custom-bg:hover { background-color: var(--bg-secondary); color: #fff }

.page-header { font-weight: bold; margin-bottom: 0; font-size: 1.6rem; text-transform: uppercase; }

/*modal*/
.brand-gradient { background: var(--brand-gradient) }

/*main*/
main { min-height: 86vh; }

/*data table*/
table.table thead th { font-weight: bold; }
table.table td, table.table th { vertical-align: middle; }

/*footer*/
footer { background-color: var(--bg-primary) }


.delete, .update{cursor: pointer}
.delete{color: red}

/* validation helpers */
.field-validation-error { color: #ee2420; font-size: .85rem; }
.field-validation-valid { display: none; }

input.input-validation-error { border-bottom: 1px solid #b94a48 !important; }
input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }
.validation-summary-errors ul { padding: 0; margin: 0; list-style: none; }
.validation-summary-valid { display: none; }


/**DISABLE INPUT TYPE NUMBER WHEEL**/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }

.loading-overlay { z-index: 999; position: fixed; bottom: 0; top: 0; left: 0; right: 0; background-color: rgba(0,0,0,.1); display: flex; justify-content: center; align-items: center; }
#toTop { background-color: var(--bg-secondary); color: #fff; bottom: 10px; cursor: pointer; display: none; position: fixed; right: 10px; z-index: 999; padding: 6px 13px; border-radius: 5px; }

#amount-word { display: inline-block; text-transform: lowercase; font-style: italic; font-size: 12px; color: #000 }
#amount-word:first-letter { text-transform: uppercase }