@{
    ViewData["Title"] = "Measurement Unit";
    Layout = "_AdminLayout";
}

<div class="mx-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="page-header">Measurement Unit</h3>

        <a id="CreateClick" data-url="/MeasurementUnit/Create" class="btn-floating btn-custom-bg" title="Add New" data-toggle="modal">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    
    <div class="card card-body">
    <table class="table">
        <thead>
        <tr>
            <th>
                <strong>Unit Name</strong>
            </th>
            <th class="text-center" style="width: 100px">
                <strong> Edit</strong>
            </th>
            <th class="text-center" style="width: 100px">
                <strong>Delete</strong>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Inch</td>
            <td class="text-center">
                <a class="edit fas fa-edit" href="/MeasurementUnit/Edit/1"></a>
            </td>
            <td class="text-center">
                <a style="color: #ff0000" class="delete fas fa-trash-alt" href="/MeasurementUnit/Delete/1"></a>
            </td>
        </tr>
  
        </tbody>
    </table>
    </div>

    <!-- Insert Modal -->
    <div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <!-- Update Modal -->
    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>