@model BranchCreateModel
@{
    ViewData["Title"] = "Update Profile";

    var isAuthority = User.IsInRole("Authority");
    Layout = isAuthority ? "_AuthorityLayout" : "_AdminLayout";
}



<div class="container">
    <div class="card card-signin my-5 pt-3">
        <div class="card-body">
            <h4 class="card-title text-center">
                <strong class="dark-grey-text">Update Profile</strong>
            </h4>

            <form asp-controller="Authority" asp-action="CreateBranch" method="post">

                <div class="md-form">
                    <label asp-for="Name">Branch Name</label>
                    <input asp-for="Name" class="form-control" required>
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="md-form">
                    <label asp-for="Phone">Mobile Number</label>
                    <input type="text" asp-for="Phone" maxlength="11" class="form-control" required>
                    <span asp-validation-for="Phone"></span>
                </div>


                <div class="md-form">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control">
                </div>

                <div class="md-form">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" type="text" class="form-control">
                </div>

                <div class="md-form">
                    @Html.Hidden("Image")
                    <div class="file-field">
                        <div class="btn purple-gradient btn-rounded btn-sm">
                            <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Choose Logo</span>
                            <input type="file" id="upload" value="Choose a Image" onchange="clearImage(this)">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload logo">
                        </div>
                    </div>
                </div>
                <div id="upload-demo" style="display:none;"></div>
                <img id="prevImage" alt="" />
                <a id="doneButton" class="btn-floating btn-lg btn-secondary" style="display:none;"><i class="fas fa-crop-alt"></i></a>

                <div class="mt-4">
                    <button class="btn z-depth-1a my-3 btn-custom-bg" type="submit">Update</button>
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input[type="file"]').change(function (e) {
            const $this = $(e.target);
            const $fileField = $this.closest('.file-field');
            const $pathInput = $fileField.find('input.file-path');
            const fileNames = [];

            fileNames.push(e.target.files[0].name);

            $pathInput.val(fileNames.join(', '));
            $pathInput.trigger('change');
        });



        $('#Image').val('');
        $uploadCrop = $('#upload-demo').croppie(opt);

        $('#upload').on('change', function () {
            readFile(this);
        });

        $('#doneButton').on('click', function () {
            $uploadCrop.croppie('result', { type: 'base64' }).then(function (res) {
                $('#Image').val(res.split(',')[1]);
                $('#upload-demo').hide();
                $('#doneButton').hide();
                $('#prevImage').attr('src', res).addClass('img-thumbnail');
            });
        });
    });


    var $uploadCrop,
        opt = {
            viewport: { width: 150, height: 150 },
            boundary: { width: 180, height: 180 },
            showZoomer: false,
            enableResize: true,
            enableOrientation: true
        };

    function readFile(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $uploadCrop.croppie('bind', { url: e.target.result });

                $('#Image').val('');
                $('#upload-demo').show();
                $('#doneButton').show();
                $('#prevImage').attr('src', '').removeClass('img-thumbnail rounded-circle');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function clearImage(ctrl) {
        if ($(ctrl).val() === "") {
            $('#upload-demo').croppie('destroy');
            $uploadCrop = $('#upload-demo').croppie(opt);
        }
    }
</script>
}